<h4>Ratings</h4>
<hr>
<ul class="filter-genres">
  <li><input type="checkbox" value=5> 5 stars</input></li>
  <li><input type="checkbox" value=4> 4 stars</input></li>
  <li><input type="checkbox" value=3> 3 stars</input></li>
  <li><input type="checkbox" value=2> 2 stars</input></li>
  <li><input type="checkbox" value=1> 1 stars</input></li>
</ul>
